{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #B0C4DE}
</style>
    <center><font face="Kristen ITC"><font size="10">Jelajahi Fitur-fitur Web Matematika</font></center><br><br><br><br>
    <font face="Comic Sans MS"><font size="5"><b>Kelas Maya</b><br></font>
    <font size="4">
    Sebuah kelas virtual yang diadakan atau dilaksanakan <br> tanpa perlu bertatap muka antara
    siswa dengan guru. <br>
    Dengan layanan ini, guru mampu membagikan bahan ajar <br> kepada siswa yang dapat diakses
    dalam bentuk digital kapan saja <br> dan di mana saja. </font> <br><br><br><br>

    <font face="Comic Sans MS"><font size="5"><b>Sumber Belajar</b><br></font>
    <font size="4">
    Layanan yang berisi materi-materi bahan ajar yang sesuai <br>
    dengan kurikulum yang disediakan untuk siswa. Materi-materi yang <br>
    disediakan disajikan dalam bentuk video, audio, dan halaman.</font> <br><br><br><br>

    <font face="Comic Sans MS"><font size="5"><b>Bank Soal</b><br></font>
    <font size="4">
    Layanan yang berisi kumpulan-kumpulan soal dan materi evaluasi <br>
    siswa yang dikelompokkan berdasarkan materi bahan ajar. <br>
    Berisi juga kumpulan-kumpulan soal latihan, ulangan, dan ujian yang <br>
    dapat diakses oleh siswa.</font> <br><br><br><br>

    <font face="Comic Sans MS"><font size="5"><b>Buku Sekolah Elektronik</b><br></font>
    <font size="4">
    Layanan buku berbentuk digital yang berisi informasi-informasi <br>
    atau panduan. Buku Elektronik ini dapat diakses melalaui perangkat <br>
    elektronik seperti handphone, laptop, komputer, dan tablet.</font> <br><br><br><br>
    <font face="Comic Sans MS"><font size="5"><b>Permainan Maya</b><br></font>
    <font size="4">
    Layanan penyajian materi bahan ajar melalui fitur-fitur <br>
    permainan elektronik agar suasana pembelajaran terasa <br>
    menyenangkan, serius, tetapi santai.</font> <br><br><br><br>

{% endblock %}