{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #B0C4DE}
</style>
    <center><font face="Kristen ITC"><font size="10">Mathematics is The Queen of Sience! ^^</font></center>
    <center><h3>Aku bangga bisa jago matematika :D</h3></center><br><br><br>
    <font size="5">Web yang menyediakan materi pembelajaran baik untuk siswa <br>
    maupun guru. Disajikan secara terstrukur dengan <br>
    tampilan menarik dan asik dalam bentuk gambar, <br>
    video animasi, dan permainan.</font><br><br><br><br>
    <font face="Comic Sans MS"><font size="5">Sekarang dapat belajar di rumah dengan menggunakan <br>
    layanan <b>Web Matematika. </b><br>
    Daftarkan diri Anda sekarang dengan klik "Sign Up" atau "Daftar".</font>

{% endblock %}