{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #B0C4DE}
</style>
    <center><font face="Kristen ITC"><font size="10">Tentang Web Matematika</font></center><br><br><br><br>
    <font face="Comic Sans MS"><font size="5"><b>Apa Itu Web Matematika?</b><br></font>
    <font size="4">
    Matematika menjadi salah satu mata pelajaran yang sangat penting <br>
    karena matematika mencakup hampir di setiap sektor kehidupan. <br>
    Web Matematika sendiri merupakan portal pembelajaran yang hadir untuk<br>
    menyediakan berbagai bahan materi belajar dan fasilitas yang memadai. <br>
    Web Matematika hadir sebagai bentuk inovasi pembelajaran yang dapat <br>
    diakses baik oleh guru maupun siswa. Dengan menggunakan Web Matematika, <br>
    kita dapat belajar jauh lebih mudah. <br><br><br> </font>

    <font size="3">
    <b>Seluruh konten yang ada di Web Matematika <br>
    dapat diakses secara gratis. Segera daftarkan diri Anda di Web Matematika <br>
    dan mulailah belajar bersama pengguna-pengguna lainnya.</b>
    </font> <br><br><br>

    <font size="5">
    <b>GURU:        15.432 <br>
    PENGGUNA:       23.248
    </b>
    </font>

{% endblock %}