{% extends 'base.html' %}

{% block content %}
<style>body {background-color: #B0C4DE}
</style>
    <center><font face="Kristen ITC"><font size="10">Bantuan</font></center> <br><br><br><br>
    <font face="Comic Sans MS"><font size="6"><b>FAQ(Frequently Asked Questions) <br> Pertanyaan Umum</b><br></font>
    <font size="4">
    1. Bagaimana cara mendaftar di Web Matematika? <br>
    2. Berapa jumlah karakter minimal pada kolom password? <br>
    3. Apa yang dimaksud dengan captcha? <br>
    4. Apa yang harus diisi pada kolom konfirmasi password? <br>
    5. Bagaimana melakukan log in? <br>
    6. Bagaimana mengubah profile pengguna? <br>
    7. Bagaimana cara reset password? <br>
    8. Bagaimana cara mengunduh video pembelajaran?<br><br>
    </font>
    
    <font face="Comic Sans MS"><font size="6"><b>Kontak Kami</b><br></font>
    <font size="4">
        1. 2225210069@untirta.ac.id <br>
        2. WA +62 858-6180-7600<br>
        3. IG @ghaidaramd <br>
        4. FB @Annisa Ghaida R. <br><br>
        </font>

    <font face="Comic Sans MS"><font size="6"><b>Ikuti Kami</b><br></font>
    <font size="4">
        1. Instagram <br>
        2. Facebook<br>
        3. Youtube<br>
        4. Twitter
        </font>

{% endblock %}